
@charset "UTF-8";
.continue:after {
  content: "â¯";
  padding: 0.5em;
  position: relative;
  right: 0;
  transition: all 0.15s linear;
}

ul.striped-list > li:nth-of-type(odd) {
  background-color: #fafafa;
  border-bottom: 1px solid #dddddd;
}

a.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  line-height: 0.85;
  transition: all 0.25s linear;
}

a.remove:hover {
  background: #f30;
}

.remove {
  right: 30px;
  position: absolute;
  margin-top: 3px;
}

.value {
  margin-right: 33px;
}

.bill {
  width: 70%;
}

.information {
  width: 70%;
}

.list-group-item.disabled {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white;
}

.openclass .tick {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  /* border: 1px solid gray; */
  background-color: rgb(11, 114, 248);;
  margin-left: auto;
  margin-top: -10px;
  padding-top: 2px;
  margin-right: -10px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: rgb(255, 255, 255);
}



.openclass .tick:before {
  content: "\f00c";
  padding-left: 7px;
  padding-top: 7px;
}

.openclass .card-shadow {
  box-shadow: rgba(11, 114, 248, 0.42) 0px 0px 15px 2px;
}

.credit-card {
  background-image: url(../img/cc_v02.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}

.credit-card.plus{
  background-image: url(../img/cc_v12.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}

.store-pay{
  background-image: url(../img/shop_v02.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}

.store-pay.plus{
  background-image: url(../img/shop_v12.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;

}

.line-pay{
  background-image: url(../img/linepay_v02.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}


.line-pay.plus{
  background-image: url(../img/linepay_v12.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}

.appale-pay{

  background-image: url(../img/applepay_v02.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}

.appale-pay.plus{
  background-image: url(../img/applepay_v12.png);
  width: 245.92px;;
  height: 245.92px;
  background-repeat:no-repeat;
}



.pay-height{
  height: 245.92px;
}

.credit-pay{
  height: 245.92px;
}

.title-color{
  color: #b5b6b6;
}

.tab-content{
  margin-top: 50px;
    padding-bottom: 120px;
}

/* .terms{
  display:none;
}

.switch .terms{
  display:contents;
} */

.article__close {
  display: none;
  
}

.content-gradient{
  background:linear-gradient(180deg, rgba(255,255,255,0.6) 10%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 70%);
}

.collaspe-box{
  margin-top:-100px;
}

.collaspe-box-move{
  margin-top:0px !important;
}


.modalcircle {
  width:100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow:4px 4px 12px rgba(0, 0, 0, 0.8); */
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -116px;
}

.aviable{
  padding-top: 10px;
}

.font-size{
  font-size:80px;
}
